
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
java-base-03-2021.iml
pom.xml
target/classes/lesson1/Methods.class
target/classes/lesson1/MyFirstClass.class
.idea/workspace.xml
target/classes/lesson6/Dog.class
target/classes/lesson6/Cat.class
target/classes/lesson6/AnimalTest.class
target/classes/lesson6/Animal.class
target/classes/HomeWork6/Dogs.class
target/classes/HomeWork6/Cats.class
target/classes/HomeWork6/AnimalsTest.class
target/classes/HomeWork6/Animals.class
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_47_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_47__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_47_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48_[Default_Changelist]1/shelved.patch
src/main/java/HomeWork6/Animals.java
src/main/java/HomeWork6/AnimalsTest.java
src/main/java/HomeWork6/Cats.java
src/main/java/HomeWork6/Dogs.java
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48_[Default_Changelist]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_47_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_47_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_30_03_2021_22_48_[Default_Changelist]1/shelved.patch
